input{
	visibility:hidden;
}
.base{
	display:inline-block;
	width:110px;
	height:60px;
	background-color:#e7e7e7;
	border-radius:50px
}
.g1, .g2, .g3{
	position: relative;
}
.base::before{
	content:"";
	width:50px;
	height:50px;
	background-color:white;
	border-radius:25px;
	position:absolute;
	top:5px;
	left:30px;
}
input:checked + .base::before{
	left:80px;
	transition: 0.4s linear all;
}
input:checked ~ .base{
	background-color:dodgerblue;
}